body{
    font-family: 'Montserrat Alternates', sans-serif;
}


.cardMin{
    display: inline-block;
    height: 40px;
    
}
/* carga */

.carga{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}



/* blogitems */



/* HEADER */

.dateData{
    position: absolute;
    bottom: 0px;
    font-weight: 600;
    display: block;
    width: 100%;
}

.dateData span{
    position: absolute;
    right: 4%;
}

.firstLetter{
    font-size: 30px;
    background-color: cadetblue;
    border: 1px solid  #a5a73d;
    border-radius: 4px;
}

.bodyImageBlogItem{
    width: 100%;
    margin-bottom: 2%;
}

.contenedorHeaderBlogItem{
    border-radius: 8px;
    background-color: rgb(199, 217, 233);
    padding-top: 20px;
    padding-bottom: 20px;
}
.linksRefBlogItem{
    width: 100%;
    position: relative;
}

.linksRefBlogItem a{
    margin-right: 10px;
    font-weight: 700;
    text-decoration: none;
}
h4{
    font-family: 'Merriweather', serif;
}
h5{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

.autorBlogItem{
    margin-left: 20%;
    border: 2px solid  #00000077;
    box-shadow: 0 0 20px gray;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.tituloBlogItem{
    line-height: 60px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
}

.mainImageBlogItem{
    width: 100%;
    
    border-radius: 8px;
    box-shadow:  0 0 8px gray ;
}

.contenedor{
    overflow: hidden;
}
.expand{
    transition: transform 0.2s ease-in-out;
}

.expand:hover{  
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.blogAutor{
    padding-top: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
}
.blogAutor span{
    position: relative;
    right: 0;
    font-size: 10px;
}

.blogItemTitle{
    font-weight: 800;
}

.buttonBlogs{
    display: block;
    width: 100%;

}
.links{
    text-decoration: none;
}
.links:hover{
    text-decoration: none;
}

/* FOOTER */

.footerGeneral a{
    text-decoration: none;
    color:aqua;
    cursor: pointer;
    
}

.footerGeneral a:visited{
    color:aqua;    
}

.footerGeneral small{
    position: relative;
    left: 80%;
}

.footerGeneral{
    background-color: black;
    color: gray;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 8%;
    text-align: justify;
    position: relative;
    bottom: 0;
}

.footerGeneral p{
    opacity: 0.5;
}

.footerIconBrand{
    margin-bottom: 10px;
}

.footerGeneral h5{
    margin-top: 10px;
    font-size: 12px;
}

.footerQuickLinks {
    margin-bottom: 0px;
    text-align: center;
    padding-right: 8%;
}

.footerQuickLinks p{
    margin-bottom: 0px;
}

.footerSubtitle{
    font-size: 12px;
}

.footerTitle{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px
}

.socialMedia{
    text-align: center;
}

.socialMedia svg{
    opacity: 0.5;
    /* position: relative; */
    /* left: 40%; */
    width: 35px;
    color: rgb(214, 214, 214);
    fill: rgb(214, 214, 214);
}

.socialMedia svg:hover{
    fill:  #5BC5EE;
    color: #5BC5EE;
    cursor: pointer;
}